@import "tailwindcss";

/* index.css */

@keyframes slideInRight {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0); 
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInRight 0.5s ease-out forwards;
}

/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #555;
}