@import "tailwindcss";

/* index.css */

@keyframes slideInRight {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0); 
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInRight 0.5s ease-out forwards;
}